.score-label, .level-label {
    -fx-font-family: "Arial Black", "Verdana", sans-serif;
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to bottom, #0077cc, #005fa3);
    -fx-padding: 7;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 2, 2);
    -fx-alignment: center;
}
.play-buttons, .pause-buttons, .youWin-buttons {
    -fx-background-color: transparent;
    -fx-text: none;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 2, 2);
}

.level-pause, .level-win {
    -fx-border-radius: 5;
    -fx-border-color: #ffffff;
    -fx-border-width: 1.5;
}

.level-pause:hover{
    -fx-cursor: hand;
}

.info-label {
    -fx-font-family: "Arial Black", "Verdana", sans-serif;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-background-color: linear-gradient(to bottom, #0077cc, #005fa3);
    -fx-padding: 7;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 1;
    -fx-border-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 2, 2);
    -fx-alignment: center;
}
.powerUp-label {
    -fx-font-family: "Arial Black", "Verdana", sans-serif;
    -fx-font-size: 15px;
    -fx-text-fill: white;
    -fx-background-color: green;
    -fx-padding: 7;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 1;
    -fx-border-color: #ffffff;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 10, 0, 2, 2);
    -fx-alignment: center;
}